body {
    margin: 0;
    height:100vh;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    width: 550px;
    height: 729px;
    background-color: #cacaca;
    font-family: "Inter", sans-serif;
}

.box1 {
    width: 550px;
    height: 285px;
    background-color: #6943FF;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin: 0;
}


input {
    width: 150px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    background-color: #6943FF;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    letter-spacing: 0.03em;
}

.btn-convert {
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    letter-spacing: 0.04em;
}

.btn-convert:hover {
    background-color: #B295FF;
    color: #FFFFFF;
    font-size: large;
    transition: 0.3s;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 500px;
    height: 108.57px;
    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
    margin: 10px;
    text-align: center;
}

.supporting-text {
    text-align: center;
    height: 25px;
    font-weight: 600;
    font-size: 20px;
    color: #5A537B;
}